<!DOCTYPE html>
<html>
<head>
    <title>Flask Ubidots Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Ubidots Button Control</h1>
    <p>ini lampu</p>
    <form method="POST">
        <button type="submit" name="button" value="toggle" class="custom-button {% if current_value == 1 %}on{% endif %}">
            {% if current_value == 1 %}
            <img src="{{ url_for('static', filename='img/tombol.png') }}" alt="" width="30px" height="30px">
            {% else %}
            <img src="{{ url_for('static', filename='img/tombol.png') }}" alt="" width="30px" height="30px">
            {% endif %}
        </button>
    </form>

    <p>ini kipas</p>
    <form method="POST">
        <button type="submit" name="button" value="toggle2" class="custom-button {% if current_value2 == 1 %}on{% endif %}">
            {% if current_value == 1 %}
            <img src="{{ url_for('static', filename='img/tombol.png') }}" alt="" width="30px" height="30px">
            {% else %}
            <img src="{{ url_for('static', filename='img/tombol.png') }}" alt="" width="30px" height="30px">
            {% endif %}
        </button>
    </form>
    <p>Current value 1: {{ current_value }}</p>
    <p>Current value 2: {{ current_value2 }}</p>
</body>
</html>
